<launch>
    <arg name="model" />

    <rosparam command="load" file="$(find leap_hand_vis)/config/default.yaml" />

    <param
        name="robot_description"
        textfile="$(find leap_description)/urdf/leap_hand/robot.urdf"/>

    <node
        name="joint_state_publisher_gui"
        pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui" />

    <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher" />

    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find leap_hand_vis)/rviz/leap_viz.rviz" />

</launch>